<h1>Upload</h1>

<div>
    <form action="/upload" enctype="multipart/form-data" method="POST">
        <input type="file" name="upload">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="desc" placeholder="Description">
        <input type="file" name="imgs" multiple>
        <input type="submit">
    </form>
</div>